.experienceSection {
  padding-top: 100px;
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  margin: auto;
}
.experienceHeader {
  align-self: flex-start;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
  padding-top: 20px;
  color: #8AA624;
  font-weight: 600;
}
.experienceContent {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  max-width: 1000px;
  display:flex;
}