.container {
  background-color: #9CC6DB;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  white-space: nowrap;
  color: #CF4B00;
}
.variousButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: justify;
}
.mainPage .contactInfo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mainButton {
  padding: 8px 16px;
  color: #CF4B00;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}
.contactButton {
  margin: 5px;
  padding: 5px 5px;
  background-color: #CF4B00;
  font-size: 10px;
  color: #FCF6D9;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}