.container {
  background-color: #FFFFF0;
  height: 50px;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 20px;
  white-space: nowrap;
  color: #8AA624;
}
.variousButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  text-align: justify;
}
.mainPage .contactInfo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mainButton {
  padding: 8px 16px;
  color: #8AA624;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 650px){
.mainButton {
    display: none;
  }
}
.mainButton:hover {
  color: #EDA35A;
}
.contactInfo {
  display: flex;
  align-items: center;
}
.contactButton {
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
  text-decoration: none;
}
.contactButton:hover{
  background-color: #DBE4C9;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
  opacity: 0.5;
}
.contactButtonDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 10px;
  font-weight: 200;
}