.heroSection {
  scroll-margin-top: 100px;
  width: 100%;
}
.container {
  background: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  padding-top: 150px;
  margin: auto;
}
.canvasAnimation {
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
  background-color: thistle;
  border-radius: 25px;
}
.title {
  font-size: 86px;
}
.greeting {
  font-weight: normal;
  color: #8AA624;
}
.titleName {
  font-weight: 600;
  color: #EDA35A;
}
.cursorBlink {
  animation: blink 1s step-start 0s infinite;
  color: #EDA35A;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.subtitle {
  font-size: 48px;
  color: #B0CE88;
  margin-top: 10px;
}
.description {
  font-size: 22px;
  color: #B0CE88;
  margin-top: 20px;
  max-width: 600px;
  text-align: center;
}
.ctaButtons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.ctaButtonPrimary {
  background-color: #8AA624;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: normal;
  }
  .ctaButtonPrimary:hover {
    background-color: #729E1E;
  }
.ctaButtonSecondary {
  background-color: transparent;
  color: #8AA624;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #8AA624;
  border-radius: 10px;
  font-weight: normal;
}
.ctaButtonSecondary:hover {
  background-color: #8AA624;
  color: white;
}