.slide {
  flex: 0 0 100%;
  min-width: 0;
}
.projectsHighlight {
  text-align: center;
  height: 450px;
  background-color: #EDA35A;
  font-size: 2rem;
  padding-top: 150px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}
.projectsHighlightOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.projectsHighlightOverlayHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.projectsHighlightTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.projectsHighlightDescription {
  font-size: 1rem;
  margin-bottom: 5px;
}
.projectsHighlightTechStack {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.githubLink {
    width: fit-content;
  height: fit-content;

  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
  background: #EBF4DD;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
  text-decoration: none;
}
.githubLink:hover{
  background-color: #EDA35A;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
  opacity: 0.5;
}