.projectsSection {
  scroll-margin-top: 100px;
  width: 100%;
}
.container {
  background-color: deeppink;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  padding-top: 100px;
  margin: auto;
}
